.choose-your-character {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px auto;

}

.character-select-img {
  width: 100px;
  height: auto;
}


.startingMenuHoverEffect {
  border: 4px solid transparent;
}

.startingMenuHoverEffect:hover {
  border: 4px solid red;
  cursor: pointer;

}

body {
  background-color: aquamarine;
  color: blue
}

h1 {
  text-align: center;
}

#startingDesc {
  display: inline-block;
  border: 4px solid transparent;
  padding: 20px;
  width: auto;
  min-height: 80px;

}

#birdsAdventure {
  width: 800px;
  height: 600px;
  text-align: center;
  border: 1px solid darkred;
  margin-left: auto;
  margin-right: auto;
  display: none;
  background-color: greenyellow
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;

}


#gameOverScreen {
  display: inline-block;
  text-align: center;
  border: 1px solid blue;
  margin: auto;
  padding-left: 10px;
  width: 250px;
  color: yellow;
  background-color: brown;
  visibility: hidden;

}


.unlearnedMoves {
  display: none;
}


#misc-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  margin: 50px 10px;
  width: auto;
  min-height: 100px;
}

/* pop-up section */

#info-section {
  display: none;
  background-color: yellow;
  justify-content: center;
  position: fixed;
  padding: 80px 50px;
  bottom: 550px;
  margin-left: 10px;
  margin-right: 10px
}

#close-btn {
  padding: 10px 20px;
  position: absolute;
  top: 10px;
  left: 10px
}
